
   button {
    height: 50px;
    font-size: 2rem!important;
    text-align: center;
    place-items: center;
  }

  .pantalla {
    width: 100%;
    height: 80px;
    background-color: #252525;
    color:white;
    text-align: right;
    padding-right: 20px;
    padding-left: 10px;
    font-size: 4rem;
  }

  .tablero {
    width: 100%;
    height: 80px;
    background-color: #252525;
    color: gray;
    text-align: right;
    padding-right: 20px;
    padding-left: 10px;
    font-size: 2rem;
  }

 .calculadora {
    border: 1px solid #ccc;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
  }

  .calculator-keys {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
    padding: 20px;
  }